.header {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menuIcon {
  font-size: 24px;
}

.mobileMenu {
  display: none;
}

.webMenu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  color: blueviolet;
  font-weight: 800;
}

@media only screen and (max-width: 720px) {
  .mobileMenu {
    display: flex;
  }
  .webMenu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}

/* || Web Menu */
.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.webOption {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 700;
}

.webOption:last-child {
  margin-right: 0;
}

.webOption a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.optionIcon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
